.logo-container {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 1000; 
}
  

.logo-image {
    width: 200px;
    height: auto; 
    object-fit: contain; 
    cursor: pointer; 
    margin-top: 35px;
    margin-left: 40px;
}
  