/* Container for the entire chart */
.chart-container {
  width: 40%;
  margin: 0 auto; /* Centre-align the chart */
  padding: 20px;
  
  position: absolute; 
  top: 140px; 
  left: 650px; 
  height: 3px;

}


/* Title styling */
.chart-title {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 20px;
  color: #000000; /* Dark grey for text */

}

/* Adjusting the chart legend for clarity */
.chart-legend {
  font-size: 14px;
  color: #d62c2c; /* Medium grey for legend text */
}
